<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/admin-panel.css">
</head>
<body>
    <header>
        <h1>Admin Panel - Omega Social</h1>
    </header>

    <div class="container">
        <div class="add-panel">
            <a href="/admin/add-product" class="cta-button">Add Product</a>
            <a href="/admin/products-list" class="cta-button">Products List</a>
            <a href="/" class="cta-button">Home</a>
        </div>
    </div>
    <%- include('../includes/footer.ejs')%>

</body>
</html>
