<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    {{#if indexCSS}}
    <link rel="stylesheet" href="/css/index.css">
    {{/if}}
    {{#if signupCSS}}
    <link rel="stylesheet" href="/css/signup.css">
    {{/if}}
    {{#if successCSS}}
    <link rel="stylesheet" href="/css/success.css">
    {{/if}}
    {{#if usersCSS}}
    <link rel="stylesheet" href="/css/users.css">
    {{/if}}
    {{#if errorCSS}}
    <link rel="stylesheet" href="/css/404.css">
    {{/if}}
  </head>
    {{{ body }}}
</html>
