<%- include('includes/head.ejs')%>
<link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <div class="right-corner">
            <% if(!isAuthenticated) { %>
                <a href="/user/login" class="cta-button">Login</a>
            <% } %>   
        </div>
        <!-- Move the buttons to the left side of the header -->
        <div class="left-them">
            <% if(isAuthenticated) { %>
                <a href="/shop" class="cta-button">Shop</a>
            <% } %>  
        </div>
        <h1>Omega Social</h1>
        <p>Connect with the World</p>
        <% if(!isAuthenticated) { %>
            <a href="user/signup" class="cta-button">Sign Up Now</a>
        <% } %> 
    </header>

    <div class="container">
        <h2>Welcome to Omega Social</h2>
        <p>
            Omega Social is a powerful social networking platform that helps you connect with friends,
            share your life moments, and discover new interests.
        </p>

        <!-- <img src="" alt="Omega Social App Screenshot" class="app-screenshot"> -->

        <h2>Key Features</h2>
        <div class="features">
            <div class="feature-item">
                <i class="feature-icon">&#128100;</i>
                <h3>User Profiles</h3>
                <p>Create your personalized profile and showcase your interests and achievements.</p>
            </div>
            <div class="feature-item">
                <i class="feature-icon">&#128172;</i>
                <h3>Instant Messaging</h3>
                <p>Chat with friends in real-time with our seamless instant messaging system.</p>
            </div>
            <div class="feature-item">
                <i class="feature-icon">&#128289;</i>
                <h3>Discover Communities</h3>
                <p>Explore and join various communities based on your interests and hobbies.</p>
            </div>
        </div>
    </div>

    <%- include('includes/footer.ejs')%>
</body>
</html>
