<!DOCTYPE html>
<html>
<head>
    <title>Product Added - Omega Shop</title>
    <link rel="stylesheet" href="/css/product-success.css">
</head>
<body>
    <header>
        <h1>Product Added Successfully</h1>
    </header>

    <div class="container">
        <div class="success-message">
            Product has been added successfully!
        </div>

        <div class="product-details">
            <span>Product Name:</span> Product 1
        </div>
        <div class="product-details">
            <span>Product Description:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
        <div class="product-details">
            <span>Product Price:</span> $19.99
        </div>

        <!-- You can display more product details here as needed -->

        <button onclick="window.location.href='/shop.html'">View All Products</button>
    </div>
</body>
</html>
