body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

header {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.left-them {
    display: flex;
    padding-left: 10px;
    justify-content: flex-start;
    align-items: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Adjust the CTA button styles */
.cta-button {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    padding: 14px 32px; /* Slightly increase padding for a larger button */
    font-size: 14px; /* Slightly increase font size */
    border-radius: 8px; /* Increase border radius for a rounded look */
    transition: background-color 0.3s;
    margin-right: 15px; /* Adjust margin for spacing */

    border: 3px solid #aef6c3; /* Change border color to a contrasting color */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow for depth */
}

.cta-button:last-child {
    margin-right: 0; /* Remove right margin from the last button */
}

.cta-button:hover {
    background-color: #45a049;
    border-color: #45a049; /* Change border color on hover */
}

.app-screenshot {
    display: block;
    max-width: 100%;
    margin-bottom: 20px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.feature-item {
    flex: 0 0 calc(33.33% - 40px);
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feature-icon {
    font-size: 36px;
    margin-bottom: 10px;
    color: #4CAF50;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #4CAF50;
    color: #fff;
    margin-top: 100px; /* Push the footer to the bottom of the page */
}

.right-corner {
    position: absolute;
    top: 10px;
    right: 10px;
}