/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

header {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Product Styles */
.product {
    flex-basis: calc(30% - 20px); /* Change this to 33.33% to show 3 products in a row */
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.product img {
    width: 100%;
    max-height: 100px; /* Reduce the image height */
    object-fit: cover;
    border-radius: 5px;
}

.product-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
}

.product-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 6px;
    max-height: 50px; /* Reduce the description height */
    overflow: hidden;
}

.product-price {
    font-size: 14px;
    color: #4CAF50;
    font-weight: bold;
    margin-bottom: 6px;
}

/* No Records Styles */
.no-records {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    font-size: 16px;
    color: #666;
    font-weight: bold;
}

/* CTA Button Styles */
.cta-button {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.cta-button:last-child {
    margin-right: 0;
}

.cta-button:hover {
    background-color: #45a049;
}

/* Left Them Styles */
.left-them {
    display: flex;
    padding-left: 10px;
    justify-content: flex-start;
    align-items: center;
}

.cart-button {
    padding: 5px 10px;
    font-size: 12px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #4CAF50;
    color: #fff;
    margin-top: 100px; /* Push the footer to the bottom of the page */
}

/* Pagination Styles */
.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination-link {
    display: inline-block;
    padding: 6px 12px;
    margin: 0 5px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.pagination-link.active {
    background-color: #45a049;
}

.pagination-link:hover {
    background-color: #45a049;
}

.pagination-link:first-child {
    margin-left: 0;
}

.pagination-link:last-child {
    margin-right: 0;
}

