<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/reset.css">
</head>
<body>
    <header>
        <h1>Reset Your Password</h1>
    </header>

    <div class="container">
        <form action="/user/forget-password" method="post">

            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="Enter your email" required>

            <button type="submit" class="cta-button">Send reset link to me</button>
        </form>

        <% if (errorMessage) { %>
            <div class="flash-message">
                <p><%= errorMessage %></p>
            </div>
        <% } %>
        
    </div>
    <%- include('../includes/footer.ejs') %>
</body>
</html>
