<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header>
        <h1>Welcome Back to Omega Social</h1>
    </header>

    <div class="container">
        <form action="/user/login" method="post">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" id="">

            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="Enter your email" required>

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Enter your password" required>

            <button type="submit" class="cta-button">Login</button>
        </form>
    </div>
    <%- include('../includes/footer.ejs')%>
</body>
</html>
