<%- include('../includes/head.ejs')%>
    <link rel="stylesheet" href="/css/404.css">
</head>
<body>
    <header>
        <h1>Error: 505</h1>
    </header>

    <div class="container">
        <p>This is an issue on the server side, we are trying to fix it!</p>
        <p>Please check after a while.</p>

        <a href="/" class="cta-button">Back to Home</a>
    </div>
    <%- include('../includes/footer.ejs')%>
</body>
</html>
