extends layouts/main-layout.pug

block styles
        link(rel="stylesheet" href="/css/404.css")

block content
    body
        header
            h1 Page Not Found
            .container
            p The page you are looking for does not exist or may have been moved.
            p Please check the URL or go back to the homepage.
            a(href='/', class='cta-button') Back to Home
