extends layouts/main-layout.pug

block styles
    link(rel='stylesheet', href='/css/signup.css')

block content
  body
    header
      h1 Sign Up for Omega Social
    .container
      form(action='/signup', method='post')
        label(for='username') Username:
        input(type='text', name='username', id='username', placeholder='Enter your username', required)
        label(for='email') Email:
        input(type='email', name='email', id='email', placeholder='Enter your email', required)
        label(for='password') Password:
        input(type='password', name='password', id='password', placeholder='Enter your password', required)
        label(for='country') Username:
        input(type='text', name='country', id='country', placeholder='Enter your country', required)
        button.cta-button(type='submit') Sign up