extends layouts/main-layout.pug

block styles
  link(rel='stylesheet', href='/css/success.css')

block content
  body
    header
      h1 Signup Successful
    .container
      p Congratulations! You have successfully signed up for Omega Social.
      p Welcome to our social network community. Now, you can connect with friends, share your moments, and discover new interests.
      p Start exploring the app and make the most of your social experience!
      a(href='/users', class='cta-button') Browse Users